<a href="#" class="home-link">Home</a>
{{#ifLoggedIn}}
  <a href="#" class="your-presentations-link">Your presentations</a> - <a href="#" class="add-presentation-link">Add a presentation</a> - <a href="#" class="log-out-link">log out</a>
{{else}}
  <a href="/auth/youtube">Log in with Youtube</a>
{{/ifLoggedIn}}